.button-results {
  position: absolute;
  top: -5rem;
  right: 16%;
  height: 3rem;
  border:none;
  border-radius: 0.8rem;
  padding: 0.8rem;
  text-align: center;
  background-color: #161B22;
  color: white;
  font-weight: bold;
}

.button-results.hidden {
  opacity: 0;
  visibility: hidden;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 50rem;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-items {
  width: 40rem;
  list-style: none;
  padding-block: 2.4rem;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
  color: white;
  border-bottom: 1px solid #484F58;
  word-wrap: break-word;
}

.repo-header {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.repo-header__link {
  text-decoration: none;
  color: #58a6FF;
  font-size: 1.6rem;
}

.list-items__description {
  font-size: 1.4rem;
  text-align: left;
  padding-left: 2rem;
  margin-bottom: 0.6rem;
}

.list-items__topics {
  font-size: 1.6rem;
  text-align: left;
  padding-left: 2rem;
  margin-bottom: 0.6rem;
  color: #58a6FF;
}

.list-items__topics span {
  color: white;
}

.span-list {
  display: flex;
  padding-left: 2rem;
  gap: 1.5rem;
}

.my-pagination {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  width: 100vw;
  color: white;
  background-color: #484F58;
}




